.navbar-default {
    background-color: #497ED7;
    border-color: #497ED7;
}

.navbar-default .navbar-brand {
    color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
}

body{
	background-image: url("../images/bgImage.jpg");
	background-size: 100%;
}

.blockColor{
	background-color: #f5f5f5;
}